<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Axios</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="lead-form">
            <h1 class="text-center">OpenFDA</h1>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="Search by generic or brand name" v-model="searchBy">
              </div>
            </div>
            <div class="row" v-for="i in rowCount">
              <span v-for="item in itemCountInRow(i)">
                <div class="col-lg-4">
                  <div class="content-body">
                    <p class="text-left">ID: {{item.id}}</p>
                    <p class="text-left">Generic Name: {{item.generic_name}}</p>
                    <p class="text-left">Brand Name: {{item.brand_name}}</p>
                    <p class="text-left">Product Type: {{item.product_type}}</p>
                    <button type="button" class="btn btn-success">View details</button>
                    <!--
                    <p class="text-left">Route of administration: {{item.route}}</p>
                    <p class="text-left">Purpose: {{item.purpose}}</p>
                    <p class="text-left">Indications and usage: {{item.indications_and_usage}}</p>
                    <p class="text-left">Warnings: {{item.warnings}}</p>
                    <p class="text-left">Active ingredients: {{item.active_ingredients}}</p>
                    <p class="text-left">Inactive ingredients: {{item.inactive_ingredients}}</p>
                    <p class="text-left">Storage and handling: {{item.storage_and_handling}}</p> -->
                  </div>
                </div>
              </span>
              <span><p>{{error_msg}}</p></span>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="main.js"></script>
</body>
</html>