body {
	font-family: Arial !important;
	font-size: 15px;
}
.content-body {
	padding: 10px;
	border: solid;
	margin-bottom: 10px;
	border-width: 1px;
	border-color: #e4d7d7;
	margin-top: 20px;
	height: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.timeline-label {
	background: #fdfef7;
}
