body {
	font-family: Arial !important;
	font-size: 15px;
}
.content-body {
	padding: 10px;
	border: solid;
	margin-bottom: 10px;
	border-width: 1px;
	border-color: #e4d7d7;
	margin-top: 20px;
	height: 100%;
}

.lead-form {
    background: #f0f8f0;
    padding-left: 20px;
    padding-right: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.timeline-label {
	background: #fdfef7;
	border-top: 6px solid #c1e6c0;
}

.generic-name {
    color: #37aa7d;
    font-weight: bold;
    font-size: large;
}

/*Only Spinner Round*/
/*Global Variables*/
/*Colors*/
/*Box Size*/
/*Speed*/
/*Global Mixins*/
/*Global Spinner*/
.cp-spinner {
  width: 48px;
  height: 48px;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}
/*Round Spinner*/
.cp-round:before {
  border-radius: 50%;
  content: " ";
  width: 48px;
  height: 48px;
  display: inline-block;
  box-sizing: border-box;
  border-top: solid 6px #bababa;
  border-right: solid 6px #bababa;
  border-bottom: solid 6px #bababa;
  border-left: solid 6px #bababa;
  position: absolute;
  top: 0;
  left: 0;
}
.cp-round:after {
  border-radius: 50%;
  content: " ";
  width: 48px;
  height: 48px;
  display: inline-block;
  box-sizing: border-box;
  border-top: solid 6px #f56151;
  border-right: solid 6px transparent;
  border-bottom: solid 6px transparent;
  border-left: solid 6px transparent;
  position: absolute;
  top: 0;
  left: 0;
  animation: cp-round-animate 1s ease-in-out infinite;
}
/*Round Spinner Animation*/
@keyframes cp-round-animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
